/**
 * Site header
 */
.site-header {
  background: linear-gradient(to right, $brand-color, lighten($brand-color, 20%));
  background-color: $brand-color;
  min-height: 56px;
  color: #fff;
  text-align: center;

    @media (min-width:$on-laptop){
      min-height: 30vh;
      display: flex;
      align-items: center;
    }
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title:link,
.site-title:visited {
    font-size: 2rem;
    font-weight: 300;
    line-height: 56px;
    color: #fff;
    font-weight: $heading-font-weight;

    @media (min-width:$on-laptop){
      font-size: 4em;
      }
}

.site-nav{
  display: block;
  margin-top: 1rem;

  a:link,
  a:visited {
    color: #fff;
    font-size: 1.4rem;
  }

}
/**
 * Site footer
 */

.union {
  text-align: center;
  img {
    max-width: 225px;
    margin:0 auto;
    display: block;
  }
}
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-4 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    > li:nth-child(even) {
        padding-left: $spacing-unit / 2;
    }

    > li:nth-child(odd) {
        padding-right: $spacing-unit / 2;
    }

    > li {
        margin-bottom: $spacing-unit;
        flex: 0 0 auto;
        width: 50%;

    }
    @include media-query($on-palm) {
      > li:nth-child(even),
      > li:nth-child(odd) {
        padding-right: 0;
        padding-left: 0;
      }

      >li {
        width: 100%;
      }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: flex;
    min-height: 4rem;
    align-items:flex-end;
    background-color: #fff;


    h2{
      font-size: 1rem;
      padding: $spacing-unit;
      margin: 0;
    }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
