---
layout: default
---
<article class="project" itemscope itemtype="http://schema.org/Blogprojecting">

  <header class="project__header">
    <h1 class="project__title" itemprop="name headline">{{ page.title }}</h1>
    <aside class="project__meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %Y" }}</time>
    </aside>
  </header>
  <div class="project__content" itemprop="articleBody">
    {{ content }}
  </div>
  <footer>
    <nav role="navigation" class="project__nav">
      {% if page.previous.url %}
        <a class="project__nav-arrow project__nav-arrow--prev" data-plugin="left" href="{{page.previous.url}}" title="{{page.previous.title}}">&lsaquo; Previous</a>
      {% endif %}
      {% if page.next.url %}
        <a class="project__nav-arrow project__nav-arrow--next" data-plugin="right" href="{{page.next.url}}" title="{{page.next.title}}">Next &rsaquo;</a>
      {% endif %}
    </nav>

  </footer>
</article>
